:root {
  --border-radius: 0.5rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color: black;
  background: white;
}

html {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: #000;
  color: #f3ebe4;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f3ebe4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul span,
ul a {
  text-align: left !important;
  font-size: 16px;
}

h1 {
  font-weight: 900;
}

h2 {
  margin: 0 0 1rem 0;
  font-weight: 800;
}
p {
  font-size: 1.2rem;
  font-weight: 200;
}

.depremharitasi {
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 95vw;
  max-width: 1300px;
}

.menu {
  max-width: 600px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* media queries for .menu */
/* @media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
} */
.menu ul {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  z-index: 10;
  background-color: #000;
}

/* disable scroll if body has #map */
body:has(#map) {
  overflow: hidden;
}

#map {
  margin-top: 20vh;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
}

main {
  font-size: 1.4rem;
  /* padding-top: 100px;
  padding-bottom: 150px; */
  padding: 1rem;
  padding-bottom: 100px;

  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 200px;
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  min-height: 50px;
  z-index: 10;
  background-color: #000;
}

#cities {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
}

.user_link {
  color: #f3ebe4;
  text-decoration: none;
  border-radius: var(--border-radius);
  padding: 14px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-gap: 1rem;
  align-items: center;
  background-color: #34373b;
}

.user_link .remove {
  cursor: pointer;
  font-weight: 900;
}

.user_link a {
  cursor: ne-resize;
  text-decoration: none;
  text-align: left;
}

.button {
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  background-color: #f38173;
  color: #f3ebe4;
}
.button:hover {
  background-color: #d16f63;
}

form fieldset {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

input,
textarea,
select {
  margin: 0.5rem auto;
  width: 90%;
  background: #f3ebe4;
  border: none;
  outline: none;
  padding: 14px;
  font-size: 16px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  color: #000;
}

hr {
  /* dashed border */
  border: 0;
  height: 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
}

.marker {
  border: 1px solid red;
  width: 10px;
  height: 10px;
  color: black;
}
